# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.env/
.venv/

# Flask
instance/
.webassets-cache

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
